<div id="login-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <h3 id="myModalLabel">Login</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <div class="control-group">
        <label class="control-label" for="username">Username</label>
        <div class="controls">
          <input type="text" name="username" placeholder="Username">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputPassword">Password</label>
        <div class="controls">
          <input type="password" name="password" placeholder="Password">
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn">Sign in</button>
        </div>
      </div>
    </form> 
    <div class="alert alert-block alert-error fade in" id="alert-box" style="display:none;">
      <button type="button" class="close">&times;</button>
      <h4 class="alert-heading">Oops...</h4>
      <p>adsf</p>
    </div>
  </div>
</div>